.root {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
}

.logo {
  padding-bottom: 10px;
  line-height: 0;
}

.navItems {
  list-style: none;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.navItems li {
  display: inline-block;
  padding: 0 5px;
}

.navItems li a {
  display: inline-block;
  color: inherit;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

.navItems li a:global(.is-active) {
  border-color: #da2e16;
}
